<section id="home-section" class="hero">

	<div class="home-slider owl-carousel"
		style="background: #011f4b !important;">
		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
			<div class="container-fluid p-0">
				<div
					class="row d-md-flex no-gutters slider-text align-items-center justify-content-end"
					data-scrollax-parent="true">
					<img class="one-third order-md-last img-fluid"
						src="/shopz/images/img1.png" alt="">
					<div class="one-forth d-flex align-items-center ftco-animate"
						data-scrollax=" properties: { translateY: '70%' }">
						<div class="text">
							<span class="subheading">#New Arrival</span>
							<div class="horizontal">
								<h1 class="mb-4 mt-3" style="color: white;">
									[[#{banner.title2}]]</h1>
								<p class="mb-4" style="color: white;">[[#{banner.content2}]]</p>

								<p>
									<a href="#" class="btn-custom">[[#{banner.button}]]</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
			<div class="container-fluid p-0">
				<div
					class="row d-flex no-gutters slider-text align-items-center justify-content-end"
					data-scrollax-parent="true">
					<img class="one-third order-md-last img-fluid"
						src="/shopz/images/img2.png" alt="">
					<div class="one-forth d-flex align-items-center ftco-animate"
						data-scrollax=" properties: { translateY: '70%' }">
						<div class="text">
							<span class="subheading">#New Arrival</span>
							<div class="horizontal">
								<h1 class="mb-4 mt-3" style="color: white;">[[#{banner.title1}]]</h1>
								<p class="mb-4" style="color: white;">[[#{banner.content1}]]</p>
<p>
									<a href="#" class="btn-custom">[[#{banner.button}]]</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
			<div class="container-fluid p-0">
				<div
					class="row d-flex no-gutters slider-text align-items-center justify-content-end"
					data-scrollax-parent="true">
					<img class="one-third order-md-last img-fluid"
						src="/shopz/images/img3.png" alt="">
					<div class="one-forth d-flex align-items-center ftco-animate"
						data-scrollax=" properties: { translateY: '70%' }">
						<div class="text">
							<span class="subheading">#New Arrival</span>
							<div class="horizontal">
								<h1 class="mb-4 mt-3" style="color: white;">[[#{banner.title1}]]</h1>
								<p class="mb-4" style="color: white;">[[#{banner.content1}]]</p>

								<p>
									<a href="#" class="btn-custom">[[#{banner.button}]]</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>