<section class="ftco-section testimony-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="services-flow">
					<div class="services-2 p-4 d-flex ftco-animate">
						<div class="icon">
							<span class="flaticon-bag"></span>
						</div>
						<div class="text">
							<h3>[[#{feedback.tab1}]]</h3>
							<p class="mb-0">[[#{feedback.tabcon1}]]</p>
						</div>
					</div>
					<div class="services-2 p-4 d-flex ftco-animate">
						<div class="icon">
							<span class="flaticon-heart-box"></span>
						</div>
						<div class="text">
							<h3>[[#{feedback.tab2}]]</h3>
							<p class="mb-0">[[#{feedback.tabcon2}]]</p>
						</div>
					</div>
					<div class="services-2 p-4 d-flex ftco-animate">
						<div class="icon">
							<span class="flaticon-payment-security"></span>
						</div>
						<div class="text">
							<h3>[[#{feedback.tab3}]]</h3>
							<p class="mb-0">[[#{feedback.tabcon3}]]</p>
						</div>
					</div>
					<div class="services-2 p-4 d-flex ftco-animate">
						<div class="icon">
							<span class="flaticon-customer-service"></span>
						</div>
						<div class="text">
							<h3>[[#{feedback.tab4}]]</h3>
							<p class="mb-0">[[#{feedback.tabcon3}]]</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="heading-section ftco-animate mb-5">
					<h2 class="mb-4">[[#{feedback.title}]]</h2>
					<p>[[#{feedback.content}]]</p>
				</div>
				<div class="carousel-testimony owl-carousel">
					<div class="item">
						<div class="testimony-wrap">
							<div class="user-img mb-4"
								style="background-image: url(/shopz/images/team/leader1.jpg)">
								<span
									class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4 pl-4 line">[[#{feedback.feed1}]]</p>
								<p class="name">Nguyen Van Thai</p>
								<span class="position">Testing Manager</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap">
							<div class="user-img mb-4"
								style="background-image: url(/shopz/images/team/leader2.jpg)">
								<span
									class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4 pl-4 line">[[#{feedback.feed2}]]</p>
								<p class="name">Ta Quang Huy</p>
								<span class="position">Project Manager</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap">
							<div class="user-img mb-4"
								style="background-image: url(/shopz/images/team/leader3.jpg)">
								<span
									class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4 pl-4 line">[[#{feedback.feed2}]]</p>
								<p class="name">Huynh Kim Khoa</p>
								<span class="position">Front-End Developer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap">
							<div class="user-img mb-4"
								style="background-image: url(/shopz/images/team/leader4.jpg)">
								<span
									class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4 pl-4 line">[[#{feedback.feed2}]]</p>
								<p class="name">Nguyen Hoai Tam</p>
								<span class="position">Back-End Developer</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>