<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/shopz/css/profile.css}">

</head>

<body>
	<div class="main-content">
		<!-- Top navbar -->
		<nav class="navbar navbar-top navbar-expand-md navbar-dark"
			id="navbar-main">
			<div class="container-fluid">
				<!-- Brand -->
				<a
					class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
					th:href="@{|/home/index|}">Back to shop</a>
				<!-- Form -->
				<form
					class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
					<div class="form-group mb-0">
						<div class="input-group input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-search"></i></span>
							</div>
							<input class="form-control" placeholder="Search" type="text">
						</div>
					</div>
				</form>
				<!-- User -->
				<ul class="navbar-nav align-items-center d-none d-md-flex">
					<li class="nav-item dropdown"><a class="nav-link pr-0"
						href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
							<div class="media align-items-center">
								<span class="avatar avatar-sm rounded-circle"> <img
									th:src="@{|/avatar/${user.photo}|}">
								</span>
								<div class="media-body ml-2 d-none d-lg-block">
									<span class="mb-0 text-sm  font-weight-bold"
										style="text-transform: lowercase;">[[${user.username}]]</span>
								</div>
							</div>
					</a></li>
				</ul>
			</div>
		</nav>
		<!-- Header -->
		<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
			style="min-height: 600px; background-image: url(https://raw.githubusercontent.com/creativetimofficial/argon-dashboard/gh-pages/assets-old/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
			<!-- Mask -->
			<span class="mask bg-gradient-default opacity-8"></span>
			<!-- Header container -->
			<div class="container-fluid d-flex align-items-center">
				<div class="row">
					<div class="col-lg-7 col-md-10">
						<h1 class="display-2 text-white">Hello [[${user.username}]]</h1>
						<p class="text-white mt-0 mb-5">This is your profile page. You
							can see the progress you've made with your work and manage your
							projects or assigned tasks</p>
						<a href="#!" class="btn btn-info">Edit profile</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Page content -->
		<div class="container-fluid mt--7">
			<div class="row">
				<div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
					<div class="card card-profile shadow">
						<div class="row justify-content-center">
							<div class="col-lg-3 order-lg-2">
								<div class="card-profile-image">
									<a href="#"> <img th:src="@{|/avatar/${user.photo}|}"
										class="rounded-circle">
									</a>
								</div>
							</div>
						</div>
						<div
							class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
							<div class="d-flex justify-content-between"></div>
						</div>
						<div class="card-body pt-0 pt-md-4">
							<div class="row">
								<div class="col">
									<div
										class="card-profile-stats d-flex justify-content-center mt-md-5">
										<div>
											<span class="heading">[[${totalAmount}]] $</span><span class="description">Total amount purchased</span>
										</div>
										<div>
											<span class="heading">[[${#lists.size(orders)}]]</span> <span class="description" style="text-transform: lowercase !important;">Total orders</span>
										</div>
										<div>
											<span class="heading">89</span> <span class="description">Comments</span>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center">
								<h3 style="text-transform: lowercase;">
									[[${user.username}]]<span class="font-weight-light"></span>
								</h3>
								<th:block th:if="${#request.remoteUser}">
									<th:block th:object="${#request.userPrincipal}">
										<h6>[[*{authorities}]]</h6>
									</th:block>
								</th:block>
								<div class="h5 font-weight-300">
									<i class="ni location_pin mr-2"></i>Bucharest, Romania
								</div>
								<div class="h5 mt-4">
									<i class="ni business_briefcase-24 mr-2"></i>Solution Manager -
									Creative Tim Officer
								</div>
								<div>
									<i class="ni education_hat mr-2"></i>University of Computer
									Science
								</div>
								<hr class="my-4">
								<p>Ryan — the name taken by Melbourne-raised, Brooklyn-based
									Nick Murphy — writes, performs and records all of his own
									music.</p>
								<a href="#">Show more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-8 order-xl-1">
					<div class="card bg-secondary shadow">
						<div class="card-header bg-white border-0">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">My account</h3>
								</div>
								<div class="col-4 text-right">
									<a href="/security/logoff" class="btn btn-sm btn-primary">Logout</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<form>
								<h6 class="heading-small text-muted mb-4">User information</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group focused">
												<label class="form-control-label" for="input-username">Username</label>
												<div id="input-username"
													class="form-control form-control-alternative"
													placeholder="Username">[[${user.username}]]</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label" for="input-email">Email
													address</label>
												<div id="input-email"
													class="form-control form-control-alternative">[[${user.email}]]
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group focused">
												<label class="form-control-label" for="input-first-name">First
													name</label>
												<div id="input-first-name"
													class="form-control form-control-alternative">Null</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group focused">
												<label class="form-control-label" for="input-last-name">Last
													name</label>
												<div id="input-last-name"
													class="form-control form-control-alternative">Null</div>
											</div>
										</div>
									</div>


								</div>
								<hr class="my-4">
								<!-- Address -->
								<h6 class="heading-small text-muted mb-4">Contact
									information</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group focused">
												<label class="form-control-label" for="input-address">Address</label>
												<div id="input-address"
													class="form-control form-control-alternative"
													placeholder="Home Address">To Vinh Dien, Street D.
													Mac Dinh Chi, Dong Hoa, Di An, Binh Duong</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group focused">
												<label class="form-control-label" for="input-city">City</label>
												<div id="input-city"
													class="form-control form-control-alternative"
													placeholder="City">Ho Chi Minh</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group focused">
												<label class="form-control-label" for="input-country">Country</label>
												<div type="text" id="input-country"
													class="form-control form-control-alternative"
													placeholder="Country">Viet Nam</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-country">Postal
													code</label> <input type="number" id="input-postal-code"
													class="form-control form-control-alternative"
													placeholder="Postal code">
											</div>
										</div>
									</div>
								</div>
								<hr class="my-4">
								<!-- Description -->
								<h6 class="heading-small text-muted mb-4">About me</h6>
								<div class="pl-lg-4">
									<div class="form-group focused">
										<label>About Me</label>
										<textarea rows="4"
											class="form-control form-control-alternative"
											placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="row align-items-center justify-content-xl-between">
			<div class="col-xl-6 m-auto text-center">
				<div class="copyright">
					<p>
						Made with <a
							href="https://www.creative-tim.com/product/argon-dashboard"
							target="_blank">Argon Dashboard</a> by Creative Tim
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>